* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

main, .card {
    overflow: hidden;
}

a, p, h4, h5, h6, a:visited, button {
    color: #0D1821;
  }

a:hover, button:hover {
    color: #85BDBF;
}

button, #thankyouMessage {
    font-size: 16px;
}

button {
    border: 2px solid #0D1821;
    background: transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin: 20px 20px 20px 0px;
    border-radius: 4px;
}

.deepblue button, .banner p, .deepblue.friendly-foodie h2, .reference p {
    color: #ffffff;
}

.deepblue button {
    border: 2px solid #ffffff;
}

button:hover {
    border: 2px solid #85BDBF;
}

h2, h3, .form .formItem, .white-list-box h2 {
    margin-bottom: 20px;
}

h2, h3 {
    color: #57737A;
}

article h2 {
    margin-top: 20px;   
}

p {
    line-height: 150%;
    padding-bottom: 10px;
}


.skip-to-content-link, .logo {
    padding: 10px;
}


.skip-to-content-link {
    background: #D8FDFA;
    height: 40px;
    left: 40%;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skip-to-content-link, .card img, .deepblue-list li:before, .deepblue-list-2 li:before, .white-list li:before {
    position: absolute;
}

.skip-to-content-link:focus {
    transform: translateY(0%);
}

.header, article, section {
    width: 90%;
    align-items: center;
    margin: auto;
}

.fun-fact, .friendly-foodie.article img, article section, .contact {
    width: 90%;
}

.banner p, .cards, .fun-fact img, .white-list-box, .friendly-foodie.article img, .research.img img {
    margin: auto;
}

.logo-container, .nav-links, header, .presentation, .cover-cv, .deepblue, .cover, .cards, .fun-fact, .footer-contact, .research.img, .form .formItem {
    display: flex;
}


header {
    min-height: 10vh;
    font-size: 18px;
    align-items: center;
}

.logo-container {
    justify-content: center;
}


article {
    padding: 50px 0px;
}

section {
    width: 80%;
    padding: 100px 0px 100px 0px;
}

.banner, .deepblue {
    background-color: #0D1821;
}

.banner, .deepblue, .cards, .card p, footer, .footer-contact, .form {
    width: 100%;
}

.banner, .cover, .cover-cv, footer {
    justify-content: center;
}

.banner {
    padding: 1.5%;
}

.banner p, .card p, .white-list-box h2, .deepblue-list-box h2, .card h2, footer, #thankyouMessage {
    text-align: center;
}

.banner p, .logo, .intro-text h1, #thankyouMessage {
    font-weight: 500;
}

.banner p {
    padding-bottom: 0px;
}


.logo-container, .introduction, .cover, .reference {
    flex: 1;
}

.logo {
    font-size: 24px;
}

.cover-cv, nav {
    flex: 2;
}

nav {
    justify-content: flex-end;
}

.nav-links {
    justify-content: space-around;
}

.nav-links {
    list-style: none;
}

.presentation {
    min-height: 80vh;
    padding-top: 40px;
}

.intro-text h1 {
    font-size: 44px;
    background: linear-gradient(to right, #57737A, #85BDBF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cover, .cover-cv {
    height: 60vh;
}

.cover-cv img, .cover img {
    height: 100%;
    margin: 20px;
}

.cover img {
    filter: drop-shadow(0px 20px 30px rgba(73, 73, 73, 0.5));
}

.cover-cv img {
    filter: drop-shadow(0px 20px 30px rgba(73, 73, 73, 0.5));
    animation: drop;
    border: 4px dashed #57737A;
}

.deepblue, .white-list-box {
    padding: 40px;
}

.deepblue, .contact-info {
    align-items: baseline;
}

.deepblue {
    color: white;
    overflow: auto;
}

.reference {
    padding: 30px;
}

.deepblue h2 {
    color: #C2FCF7;
}

.reference p {
    margin-bottom: 10px;
}

.reference button {
    float: left;
}

.cards, #place {
    padding: 0px;
}

.cards, .footer-contact, .deepblue {
    justify-content: space-evenly;
}

.cards {
    flex-wrap: wrap;
}

.card, .deepblue-list li, .deepblue-list-2 li, .white-list li {
    position: relative;
}

.card {
border-radius: 5px;
margin: 50px;
height: 300px;
width: 300px;
}

.card img {
min-height: 100%;
min-width: 100%;
max-height: 130%;
max-width: 130%;
}

.card img:hover {
opacity: 0;
transition: opacity 1s;
}

.card p, .footer-contact {
    padding: 20px;
}

.card p {
z-index: -1;
display: inline-block;
}

.deepblue-list-box {
    margin-bottom: 50px;
}

.deepblue-list {
    columns: 2;
}

.deepblue-list-2 {
    columns: 1;
}

.deepblue-list li, .deepblue-list-2 li, .white-list li, .friendly-foodie.list-item {
    margin-bottom: 8px;
}

.deepblue-list li, .deepblue-list-2 li {
    list-style-type: none;
    padding-left: 40px; /*Särar på bullets o text*/
}

.deepblue-list li:before, .deepblue-list-2 li:before, .white-list li:before {
    width: 5px;
    border-width: 0 2px 2px 0;
    height: 11px;
    left: 0;
}

.deepblue-list li:before, .deepblue-list-2 li:before {
    content: ''; /*Behåller bullets*/
    display: block;

    /* Design av bullet */
    top: -2px;
    border-style: solid;
    border-color: #C2FCF7;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.fun-fact img {
    width: 40%;
    border-radius: 50%;
    filter: drop-shadow(0px 20px 30px rgba(73, 73, 73, 0.5));
    padding: 50px;
    min-width: 400px;
}

.white-list {
    columns: 2;
}

.white-list li {
    list-style-type: none;
    padding-left: 40px; /*Särar på bullets o text*/
    padding-right: 50px;
}

.white-list li:before {
    content: ''; /*Behåller bullets*/
    display: block;

    /* Design av bullet */
    top: -2px;
    border-style: solid;
    border-color: #57737A;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

footer {
    background-color: #ffffff;
    padding-top: 50px;
    margin-top: 50px;
}

.footer-contact {
    flex-wrap: wrap;
}

.contact-info {
    padding: 10px 50px;
}

.contact-info img {
    vertical-align: middle;
    padding: 0px 10px;
}

footer p {
    font-size: 10px;
}

.icons8 a {
    text-decoration: underline;
}

.studiescard {
    padding: 40px 0px;
    border-bottom: 2px solid #57737A;
}

#place {
    font-size: 13px;
    font-weight: 600;
}

.intro-text.friendly-foodie h1, .deepblue.friendly-foodie {
    background: linear-gradient(to top, #1C5F2F, #61D181);    
}

.intro-text.friendly-foodie h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.friendly-foodie.article h4 {
    margin-bottom: 12px;
}

.friendly-foodie.article h2, .friendly-foodie.article h3 {
    color: #1C5F2F;
}

.friendly-foodie.article h3 {
    margin-top: 30px;
}

article section {
    padding: 10px 0px;
}

.research.img {
    flex-wrap: wrap;
}

.research.img img{
    width: 30%;
}

.research.img a {
    font-style: italic;
    padding-bottom: 20px;
}

.friendly-foodie.list.process {
    columns: 2;
}

.friendly-foodie.list-item {
    margin-left: 10px;
}

.contact a {
    font-style: italic;
}

.form {
    padding: 20px 0px;
  }
  
  .form .formItem {
    flex-direction: column;
  }
  
  .form .formItem label {
    display: inline-block;
    width: 400px;
  }
  
  .formItem .submitButton {
    font-size: 20px;
  }

@media screen and (max-width: 1068px) {
    p {
        margin-bottom: 7px;
        font-size: 14px;
    }

    .fun-fact, .white-list {
        margin: auto;
    }

    .fun-fact {
        flex-wrap: wrap;
    }

    .deepblue-list-box {
        margin: 0px 40px 20px 10px;
    }

    .deepblue-list-box h2 {
        text-align: left;
    }

    .deepblue-list {
        columns: 1;
    }

    .white-list li {
        padding-right: 0px;
    }

    .white-list {
        columns: 1;
    }

    .deepblue-list-box.friendly-foodie {
        width: min-content;
    }
    
    .deepblue.friendly-foodie h2 {
        text-align: center;
    }

    .deepblue-list.deepblue-list.friendly-foodie {
        columns: 2;
    }
    
    .research.img img {
        width: 45%;
    }

}

@media screen and (max-width: 576px) {

    header {
        flex-direction: column;
        margin-bottom: 4vh;
        margin-top: 10px;
    }

    article {
        padding: 40px 0px;
    }

    .cards {
        width: 80%;
    }

    .card {
        margin: 50px auto;
    }

    .nav-link {
        margin: 10px;
    }

    .presentation {
    flex-direction: column;
    }

    .introduction {
        margin: 3vh;
        text-align: center;
    }

    .intro-text h1 {
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
    }

    .cta {
        padding: 10px 0px 0px 0px;
    }

    .cover img, .cover-cv img, .white-list-box h2, .white-list li {
        margin: auto;
    }

    .cover img {
        min-width: 200px;
    }

    .deepblue {
        flex-wrap: wrap;
    }

    .fun-fact {
        flex-wrap: wrap;
    }

    .deepblue-list-box, .white-list-box {
        margin: 30px auto;
        justify-content: center;
    }

    .white-list-box {
        padding: 0%;
    }

    .white-list-box h2 {
        width: 60%;
    }

    .deepblue-list-box.list-2, .research.img img {
        width: 90%;
    }

    .deepblue-list,
    .white-list {
        columns: 1;
    }

    .white-list li {
        width: 70%;
    }

    .fun-fact img {
        min-width: 350px;
    }

    .friendly-foodie.list.process {
        columns: 1;
    }

    .friendly-foodie.list-item {
        font-size: 14px;
    }

    .form .formItem label {
        max-width: 250px;
      }
}